.per {
  /* border: solid 2px; */
}
.no1{
  margin:auto;
  display: flex;
  justify-content: center;
  border: solid 2px black;
  width:85%;

}
.no2{
  margin:auto;
  display: flex;
  justify-content: center;
  /* border: solid 2px black; */
  width:75%;
}
.no3{
  margin:auto;

  display: flex;
  justify-content: center;
  /* border: solid 2px black; */
  width:75%;
}
.test_outer{
  display: flex;
  justify-content: center;

}
.test_inner {
  width: 90%;
  border: solid 2px;
  justify-content: center;
  margin-bottom : 150px;
}
.img1{
  /* border : solid 2px; */
  width:200px;
  height:210px;
  align : left;

  /* margin-left:20%; */
  
}
.img1_im{
 
  /* margin-top:5px; */

  border: 2px solid black;
  text-align:left;
  float: right;


  /* margin-right:20%; */
  padding-right: 50px;
}

.img2{

  width:200px;
  height:200px;
  align : left;
  /* margin-left:20%; */
  
}
.img2_im{
 
  margin-top:5px;
  float: right;
  text-align:left;
  padding-right: 50px
  /* margin-right:20%; */
}

.img3{
  width:200px;
  height:200px;
  align : left;
  /* margin-left:20%; */
  
  
}
.img3_im{
  margin-top:5px;
  float: right;
  text-align:left;
  padding-right: 50px
  /* margin-right:20%; */
}
html {
  height: auto;
  min-height: 100%;
  background-image: linear-gradient(to bottom right, #e1bee7, #b2ebf2);
 
  background-size: cover;
}

.test_all{
  
  margin-top : 7%;
  justify-content: center;
}

.tohome_btn{
  margin-top:50px;
}